body, html {
  background-image: url('img/3.png');
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'JetBrains Mono';
  overflow-x: hidden;
}

header {
  background-color: #f9ef23;
  color: black;
  margin: 0px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

header h1 {
  position: absolute;
  margin: 0 auto;
  margin-left: 30px;
  font-size: 25px;
  margin-top: 10px;
}

header img {
  position: absolute;
  width: 150px;
  margin-top: 10px;
  color: black;
}
nav ul{
  display: flex;
  list-style-type: none;
  justify-content: end;
  width: 100%;
}

nav ul li { 
  text-decoration-style: none;
  padding-right: 100px;
}

nav ul li a { 
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

nav ul li a:hover {
  text-decoration: underline;
}
