html {
  background-color: bisque;
  margin: 0;
}

header {
  background-color:azure;
  color: rgb(204, 208, 207);
  padding: 15px;
}


header h1 {
  margin: 0 auto;
  font-size: 45px;
  position: absolute;
  
}

nav ul {
  display: flex;
  justify-content: end;
  list-style-type: none;
  
}
nav ul li {
  text-decoration-style: none;
  padding-right: 10px;
}

nav ul li a {
  color:black;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}