body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'JetBrains Mono';
}

.page1 {
  background-image: url('/img/1.png');
  background-size: cover;
  background-position: center;
  height: 100vh;  
  display: flex; 
  text-align: center;
  justify-content: center;
  align-items: center;
}

.page1 h1 {
  color: white;
  font-size: 55px;
  font-weight: bolder;

}

.inscreva {
  color: black;
  font-size: 15px;
  position: absolute;
  margin-top: 260px;
  font-weight: bolder;
  background-color: rgb(255, 255, 0);
  border: none;
  border-radius: 12px;
  padding: 10px 12px;
  text-decoration: none;
  transition: background-color 0.3s;
  
}

.inscreva:hover {
  background-color: rgb(175, 175, 29);
  color: white;
}
