body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'JetBrains Mono';
}



.page1 {
  background-image: url('img/1.png');
  background-size: cover;
  background-position: center;
  height: 100vh;  
  display: flex; 
  text-align: center;
  justify-content: center;
  align-items: center;
}

.page1 h1 {
  color: white;
  font-size: 55px;
  font-weight: bolder;
  position: absolute;
}

.page1 p {
  color: white;
  font-size: 25px;
  font-weight: bolder;
  position: relative;
  margin-bottom: 38%;
  margin-right: 70%;
  white-space: nowrap;
}

.page1 img {
  position: absolute;
  width: 130px;
  margin-bottom: 36%;
  margin-right: 81%;
}

.inscreva {
  color: black;
  font-size: 15px;
  position: absolute;
  margin-top: 260px;
  font-weight: bolder;
  background-color: #f9ef23;
  border: none;
  border-radius: 12px;
  padding: 10px 12px;
  text-decoration: none;
  transition: background-color 0.3s;
  
}

.inscreva:hover {
  background-color: #b9b11a;
  color: white;
}




.page2 {
  background-color: #141414;
  height: 100vh;  
  display: flex; 
  color: white;
}

.page2 h2 {
  color: #f9ef23;
  font-size: 45px;
  margin: 15px;
  padding: 15px;
  margin-top: 100px;
  font-weight: bolder;
  text-wrap: nowrap;
  position: relative;
}

.page2 p {
  font-size: 15px;
  font-weight: lighter;
  text-align: justify;
  width: 45%;
  line-height: 1.8;
  position: absolute;
  margin-top: 200px;
  margin-left: 28px;
}

.page2 .img1 img {
  width: 250px;
  height: 350px;
  border-radius: 50px;
  position: relative;
  margin-top: 65px;
  margin-left: 390px;
}

.page2 .img2 img {
  width: 250px;
  height: 350px;
  border-radius: 50px;
  position: relative;
  margin-top: 200px;
  margin-left: 20px;
}







.page3 {
  background-color: #141414;
  height: 100vh;  
  display: flex;
  flex-direction: column;
  color: white;
}

.page3 h2 {
  color: #f9ef23;
  font-size: 45px;
  margin: 10px;
  padding: 15px;
  margin-top: 70px;
  font-weight: bolder;
  text-wrap: nowrap;
  position: relative;
}

.page3 .treinamento h3 {
  color: #f9ef23;
  font-size: 20px;
  margin: 5px;
  padding: 15px;
  margin-top: 1%;
  font-weight: bolder;
  position: absolute;
  margin-left: 15px;
}

.page3 .treinamento p {
  font-size: 15px;
  font-weight: lighter;
  text-align: justify;
  width: 35%;
  line-height: 1.2;
  position: absolute;
  margin-top:  5%;
  margin-left: 28px;
}


.page3 .aulasemgrupo h3 {
  color: #f9ef23;
  font-size: 20px;
  margin: 5px;
  padding: 15px;
  margin-top: 12%;
  font-weight: bolder;
  position: absolute;
  margin-left: 15px;
}

.page3 .aulasemgrupo p {
  font-size: 15px;
  font-weight: lighter;
  text-align: justify;
  width: 35%;
  line-height: 1.2;
  position: absolute;
  margin-top: 16%;
  margin-left: 28px;
}


.page3 .consultoria h3 {
  color: #f9ef23;
  font-size: 20px;
  margin: 5px;
  padding: 15px;
  margin-top: 1%;
  font-weight: bolder;
  position: absolute;
  margin-left: 59%;
}

.page3 .consultoria p {
  font-size: 15px;
  font-weight: lighter;
  text-align: justify;
  width: 35%;
  line-height: 1.2;
  position: absolute;
  margin-top:  5%;
  margin-left: 60%;
}


.page3 .avaliacao h3 {
  color: #f9ef23;
  font-size: 20px;
  margin: 5px;
  padding: 15px;
  margin-top: 12%;
  font-weight: bolder;
  position: absolute;
  margin-left: 59%;
}

.page3 .avaliacao p {
  font-size: 15px;
  font-weight: lighter;
  text-align: justify;
  width: 35%;
  line-height: 1.2;
  position: absolute;
  margin-top: 16%;
  margin-left: 60%;
}





.page4 { 
  background-color: #141414;
  height: 100vh;  
  display: flex;
  color: white;
  justify-content: center;
}

.page4 h2 {
  color: #f9ef23;
  font-size: 45px;
  margin: 10px;
  padding: 15px;
  margin-top: 10px;
  margin-right: 35%;
  font-weight: bolder;
  text-wrap: nowrap;
  position: absolute;
}

.box {
  background-color: #f9ef23;
  border: none;
  border-radius: 28px;
  width: 250px;
  height: 350px;
  margin: 20px;
  margin-top: 145px;
  padding: 3px;
}

.fundobox, .fundobox2, .fundobox3 {
  margin: 0px;
  background-color:#141414;
  position: relative;
  text-align: center;
  border-radius: 25px;
  width: 220px;
  height: 320px;
  position: absolute;
  padding: 15px;
}

.box h3 {
  font-size: 35px;
  margin: auto;
  padding: 0px;
}
.box p {
  font-size: 15px;
  text-align: justify;
  font-weight: bolder;
  margin-top: 50px;
  margin-bottom: 50px;
}
.box .preco {
  background-color: #f9ef23;
  font-size: 35px;
  border-radius: 5px;
  color:black;
  font-weight: bolder;
}

.fundobox2 p {
  font-size: 15px;
  text-align: justify;
  font-weight: bolder;
  margin-top: 50px;
  margin-bottom: 30px;;
} 


.fundobox2 .preco {
  background-color: #f9ef23;
  font-size: 24px;
  text-wrap: nowrap;
  border-radius: 5px;
  color:black;
  font-weight: bolder;
}

.fundobox3 .preco {
  background-color: #f9ef23;
  font-size: 30px;
  text-wrap: nowrap;
  border-radius: 5px;
  color:black;
  font-weight: bolder;
}